{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="panel panel-default">

    <div class="panel-heading">
        <h2><i class="glyphicon glyphicon-list-alt"></i> {{ 'security.change_password.title'|trans }}</h2>
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-lg-6">

                {{ include('admin/partials/alerts.html.twig') }}

                {{ form_start(form, { 'action': path('admin_security_change_password') }) }}

                {{ form_errors(form) }}

                {{ form_row(form.current_password) }}
                {{ form_row(form.user.plainPassword.first) }}
                {{ form_row(form.user.plainPassword.second) }}

                <button class="btn btn-primary">{{ 'security.change_password.btns.submit'|trans }}</button>

                {{ form_widget(form._token) }}

                {{ form_end(form, {'render_rest': false}) }}

            </div>
        </div>
    </div>

{% endblock %}