{% extends 'portal/base.html.twig' %}

{% block body %}

    <div class="panel panel-default">

    <div class="panel-heading">
        <h2><i class="glyphicon glyphicon-list-alt"></i> {{ 'security.change_password.title'|trans }}</h2>
    </div>

    <div class="panel-body">

        {{ include('portal/partials/alerts.html.twig') }}

        {{ form_start(form, { 'action': path('portal_security_change_password'), 'attr': {'novalidate': 'novalidate'} }) }}

        {{ form_errors(form) }}

        <div class="row">

            {{ form_row(form.current_password) }}
            {{ form_row(form.user.plainPassword.first) }}
            {{ form_row(form.user.plainPassword.second) }}

        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary">{{ 'security.change_password.btns.submit'|trans }}</button>
            </div>
        </div>

        {{ form_widget(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>

{% endblock %}