{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="panel panel-default">

        <div class="panel-heading">

            <h2 class="pull-left"><i
                        class="glyphicon glyphicon-list-alt"></i> {{ 'admin.profile_admin.title.edit'|trans }}</h2>

            <div class="pull-right" style="padding-top: 20px;">

                {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}

                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon glyphicon-remove-sign"></span>
                    {{ 'form.link.delete'|trans }}
                </button>
                <a href="{{ path('admin_profile_index') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon glyphicon-remove-sign"></span> {{ 'form.link.cancel'|trans }}
                </a>

                {{ form_end(delete_form) }}

            </div>

            <div class="clearfix"></div>

        </div>

        <div class="panel-body">

            {{ form_start(form, {'action': path('admin_profile_edit', {id: admin_profile.id}) ~ pagination_helper.buildQuery ,'attr' : {'class' : '', 'novalidate': 'novalidate'}}) }}

            {{ form_errors(form) }}

            {{ include('admin/partials/alerts.html.twig') }}

            <div class="row">
                {{ form_row(form.firstName, {'attr': {'autofocus': true}}) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.email) }}
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_widget(form.buttons.save_and_keep, {'attr' : {'class' : 'btn-primary'}}) }}
                    {{ form_widget(form.buttons.save_and_new, {'attr' : {'class' : 'btn-primary'}}) }}
                    {{ form_widget(form.buttons.save_and_close, {'attr' : {'class' : 'btn-primary'}}) }}
                </div>
            </div>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}