{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="panel panel-default">

        <div class="panel-heading">

            <h2 class="pull-left"><i class="glyphicon glyphicon-list-alt"></i> Perfil</h2>

            <div class="pull-right" style="padding-top: 20px;">

                <a href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Novo
                </a>

            </div>

            <div class="clearfix"></div>

        </div>

        <div class="panel-body">

            <form class="navbar-form navbar-left" role="search" style="padding-left: 0" method="get" action="{{ path('admin_profile_index') }}">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="search" name="search"
                        value="{% if app.request.query.has('search') %}{{ app.request.query.get('search') }}{% endif %}">
                </div>

                <button type="submit" class="btn btn-default">Buscar</button>

            </form>

            <div class="clearfix"></div>

            <hr>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Ultimo Login</th>
                        <th>Criado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in profiles %}
                        <tr>
                            <td>{{ profile.firstName }}</td>
                            <td>{{ profile.email }}</td>
                            <td>{% if profile.user.lastLoginAt %}{{ profile.user.lastLoginAt|date('d/m/Y H:i') }}{% endif %}</td>
                            <td>{{ profile.user.createdAt|date('d/m/Y H:i') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" align="center">Nenhum registro encontrado</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <div class="navigation text-center">
                {{ pagerfanta(profiles, 'twitter_bootstrap3', { routeName: 'admin_profile_index', routeParams: app.request.query.all }) }}
            </div>

        </div>

    </div>

{% endblock %}