{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="panel panel-default">

        <div class="panel-heading">

            <h2 class="pull-left"><i class="glyphicon glyphicon-list-alt"></i> Perfil: [novo]</h2>

            <div class="pull-right" style="padding-top: 20px;">

                <a href="{{ path('admin_profile_index') }}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-plus"></span> Cancelar
                </a>

            </div>

            <div class="clearfix"></div>

        </div>

        <div class="panel-body">

            {{ form_start(form, {'attr' : {'class' : '', 'novalidate': 'novalidate'}}) }}

            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-6 pull-left">

                    {{ form_row(form.firstName, {'attr': {'autofocus': true}}) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}

                </div>
                <div class="col-md-6 pull-right">

                    {{ form_row(form.user.plainPassword.first) }}
                    {{ form_row(form.user.plainPassword.second) }}

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    {{ form_widget(form.buttons.save_and_close, {'attr' : {'class' : 'btn-primary'}}) }}
                    {{ form_widget(form.buttons.save_and_new, {'attr' : {'class' : 'btn-primary'}}) }}

                </div>
            </div>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}